<div class="filter">
  
  <div 
    *ngFor='let group of optionGroups'
    class="option-group"
    [class.address] = 'group.colName === "city"'
  ><div class="group-title">
    <span class="title">{{group.colName | titlecase}}</span>
  </div>


    <span *ngFor='let option of group.options' >
      <span
        class='option'
        *ngIf='option.count > 0'
        (click)='handleOptionSelect(group.colName, option.value)'
        [class.selected] = 'option.isSelected'
          
      >
        <label class='checkbox'  for={{option.value}}>
          <input class="checkbox-input" type="checkbox" name={{option.value}}  id={{option.value}}>
          <div class="checkbox-box"></div>
        </label>
        <span class="option-value">{{option.value | lowercase}}</span>
        <span class="option-count">{{option.count}}</span>
      </span>
    </span>
  </div>
</div>
