$color-error: #c62828;
$color-success: #7cb342;

$color-primary-light: #ffffff;
$color-primary: #efebe9;
$color-primary-dark: #bdb9b7;
$color-primary-darker: #d7ccc8;

$color-secondary-light: #e4e65e;
$color-secondary: #afb42b;
$color-secondary-darker: #9e9d24;
$color-secondary-dark: #7c8500;

$color-font-primary: #424242;
$color-font-secondary: #f5f5f5;

$background-page: $color-primary-dark;
