@import 'colors';

.app {
  min-height: 100%;
  padding: 20px 0;
  margin: 0 auto;
  max-width: 1200px;
  font-size: 1.2em;
  background: $color-primary;
  border-top: none; border-bottom: none;
  // box-shadow: 0 0 20px rgba($color: #000000, $alpha: .1);
}


@media all and (max-width: 900px) {
  .app{
    padding: 0;
  }
}
