<div class="app app-mobile">
  <div class="nav">
    <span 
      (click)='onClickFilter()'
      [class.selected]='currentSection === "filter"'
      class="nav-item filter"><span class="item-link">Фильтры</span></span>
    <span 
      [class.selected]='currentSection === "table"'
      (click)='onClickTable()'
      class="nav-item table "><span class="item-link">Таблица</span></span>
  </div>



  <div class='section' [class.active]='currentSection === "filter"'>
    <app-filter ></app-filter>
  </div>
  <div  class='section' [class.active]='currentSection === "table"'>
    <app-table ></app-table>
  </div>


</div>


<div class="app-desktop">

</div>



<router-outlet></router-outlet>
