
<div class="table-wrapper">
  <div class="Rtable Rtable-header Rtable--5cols"
  >
    <div *ngFor='let colName of ["name", "age", "gender", "department", "city"]' 
      class="Rtable-cell"
      (click)='handleSortEvent(colName)'
      [class.active]='sortedColumn.colName === colName'>
      <h3 class="header-title"
        [class.sort-asc]='sortedColumn.colName === colName && sortedColumn.order === 1'
        [class.sort-desc]='sortedColumn.colName === colName && sortedColumn.order === -1'
         >
        {{colName | titlecase }}
      </h3>

    </div>
  </div>



  <div 
    *ngFor='let row of table'
    class="Rtable Rtable--5cols Rtable--collapse"
  >
    <div class="Rtable-cell Rtable-element">{{row.name}}</div>
    <div class="Rtable-cell Rtable-element">{{row.age}}</div>
    <div class="Rtable-cell Rtable-element">{{row.gender}}</div>
    <div class="Rtable-cell Rtable-element"><strong>{{row.department}}</strong></div>
    <div class="Rtable-cell Rtable-element address">
      <span class="city">{{row.city }}</span>
      <span class="street">{{row.street}}</span>
    </div>
  </div>

  <div *ngIf='!table || table.length === 0' >Something is wrong</div>

</div>
